# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

#input output folder
output/
input/

# Executables
*.swf
*.air
*.ipa
*.apk

#intelJ
# *.iml
# *.xml

#java out
*.class